.aside {
  display: grid;
  grid-template-rows: repeat(10, 60px);
  border-right: 2px solid;
}

.aside h3 {
  color: #c5c6c7;
}

.img-holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-top: 1px solid;
  margin-top: -1px;
}
